<main>
  <app-logo />

  <picture class="host">
    <source media="(max-width: 723px)" srcset="assets/mobile/image-host.jpg" />
    <source media="(max-width: 1399px)" srcset="assets/tablet/image-host.jpg" />
    <img alt="Image of the host" src="assets/desktop/image-host.jpg" />
  </picture>

  <div class="bg-3 content">
    <h1>Publish your podcasts <span>everywhere.</span></h1>
    <p>
      Upload your audio to Pod with a single click. We’ll then distribute your
      podcast to Spotify, Apple Podcasts, Google Podcasts, Pocket Casts and
      more!
    </p>
    <app-form />
    <div class="sponsors">
      <img
        alt="Image of spotify logo"
        class="spotify"
        src="assets/desktop/spotify.svg" />
      <img
        alt="Image of apple podcast logo"
        class="apple"
        src="assets/desktop/apple-podcast.svg" />
      <img
        alt="Image of google podcast logo"
        class="google"
        src="assets/desktop/google-podcasts.svg" />
      <img
        alt="Image of pocket casts logo"
        class="pocket-casts"
        src="assets/desktop/pocket-casts.svg" />
    </div>
  </div>
  <img
    alt="Image of a dot pattern"
    class="pattern"
    src="assets/desktop/bg-pattern-dots.svg" />
</main>
