@use "../../styles/breaks.scss" as *;

// Mess

:host {
  @include breaks(mobile) {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
  }
  @include breaks(tablet) {
    display: block;
    height: 100%;
    width: 100%;
  }
  @include breaks(desktop) {
    display: block;
    height: 100%;
    margin: 13rem 0 13rem 16.5rem;
  }
}

main {
  @include breaks(mobile) {
    align-self: center;
    grid-column: 1;
    grid-row: 1;
    height: 66.7rem;
    justify-self: center;
    left: 50%;
    margin-inline: auto;
    max-width: 37.5rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 1;
  }
  @include breaks(tablet) {
    height: 100%;
    max-width: 127.5rem;
    position: relative;
    z-index: 1;

  }
  @include breaks(desktop) {
    height: 64rem;
    max-width: 127.5rem;
    position: relative;
    z-index: 1;
  }
}

app-logo {
  @include breaks(mobile) {
    left: 50%;
    margin: 0 auto;
    position: absolute;
    top: 6.2rem;
    transform: translate(-50%, 0);
    z-index: 1;
  }
  @include breaks(tablet) {
    left: 3.9rem;
    position: absolute;
    top: 5rem;
    z-index: 1;
  }
  @include breaks(desktop) {
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(0, -50%);
    z-index: 1;
  }
}

picture.host {
  & > img {
    @include breaks(mobile) {
      opacity: 0.1;
      position: absolute;
      z-index: 1;
    }
    @include breaks(tablet) {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 0;
    }
    @include breaks(desktop) {
      height: 64rem;
      position: absolute;
      padding-left: 38.7rem;
      right: 0;
      top: 0;
      z-index: 0;
    }
  }
}

div.content {
  @include breaks(mobile) {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 37.5rem;
    position: absolute;
    top: 16.5rem;

    & > h1 {
      color: #54E6AF;
      font-size: 2.6rem;
      font-weight: 400;
      line-height: 3.8rem;
      margin-bottom: 1.6rem;
      order: 1;
      text-align: center;
      text-transform: uppercase;
      & > span {
        color: white;
      }
    }

    & > p {
      color: #C2CBE5;
      font-size: 15px;
      font-weight: 400;
      line-height: 25px;
      margin-bottom: 3.3rem;
      max-width: 32.7rem;
      order: 2;
      text-align: center;
    }

    & > app-form {
      margin-bottom: 9.4rem;
      order: 4;
      z-index: 1;
      width: 100%;
    }

    & > div.sponsors {
      align-items: center;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-bottom: 3.3rem;
      order: 3;

      @media (width <=300px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        place-items: center;
        row-gap: 1rem;
      }
      & > img.spotify {
        height: 1.5rem;
        width: 5.6rem;
      }

      & > img.apple {
        height: 1.7rem;
        width: 4.5rem;
      }

      & > img.google {
        height: 1.1rem;
        width: 7.3rem;
      }

      & > img.pocket-casts {
        height: 1.5rem;
        width: 7.7rem;
      }
    }
  }

  @include breaks(tablet) {
    left: 0;
    padding: 9.3rem 3.9rem 0;
    position: absolute;
    top: 25.8rem;
    width: 65.3rem;
    z-index: 1;
    & > h1 {
      color: #54E6AF;
      font-family: Chivo;
      font-size: 4.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 5.6rem;
      text-transform: uppercase;
      margin-bottom: 3.1rem;
      & > span {
        color: white;
      }
    }
    & > p {
      color: #C2CBE5;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 2.8rem;
      margin-bottom: 4rem;
    }
    & > app-form {
      margin-bottom: 6.4rem;
      padding-right: 14.2rem;
      width: 42.7rem;
    }
    & > div.sponsors {
      display: flex;
      column-gap: 4rem;

      & > img.spotify {
        height: 2.9rem;
        width: 9.6rem;
      }

      & > img.apple {
        height: 2.9rem;
        width: 7.8rem;
      }

      & > img.google {
        height: 1.8rem;
        width: 12.5rem;
      }

      & > img.pocket-casts {
        height: 2.7rem;
        width: 12.9rem;
      }
    }
  }

  @include breaks(desktop) {
    bottom: 0;
    left: 0;
    padding: 8.8rem 5.8rem 0 0;
    position: absolute;
    width: 72.3rem;
    & > h1 {
      color: #54E6AF;
      font-size: 5.2rem;
      font-weight: 400;
      line-height: 6.2rem;
      text-transform: uppercase;
      & > span {
        color: white;
      }
    }
    & > p {
      margin-bottom: 4rem;
      max-width: 44.5rem;
    }
    & > app-form {
      margin-bottom: 6.4rem;
      padding-right: 14.2rem;
      width: 42.7rem;
    }
    & > div.sponsors {
      display: flex;
      justify-content: space-between;
    }
  }
}

img.pattern {
  @include breaks(mobile) {
    display: none;
    position: absolute;
    z-index: 1;
  }

  @include breaks(tablet) {
    left: 0;
    position: absolute;
    top: 92rem;
    z-index: 1;
  }

  @include breaks(desktop) {
    position: absolute;
    bottom: 0;
    padding-left: 80.7rem;
    right: 0;
    transform: translate(0, 50%);
    z-index: 1;
  }
}
