@use "../../styles/breaks.scss" as *;

:host {
  background: hsl(var(--clr-2));
  border-radius: 2.8rem;
  color: #fff;
  display: block;
  height: 5.6rem;
  position: relative;
  width: 35rem;
}

form,
input {
  background-color: inherit;
  border-radius: inherit;
  border: 0;
  color: #fff;
  height: 100%;
  outline-color: transparent;
  width: 100%;
}

input {
  padding: 0 3.2rem;
  &::placeholder {
    color: hsl(var(--clr-4));
    mix-blend-mode: normal;
    opacity: 0.5;
  }
}

p {
  margin-top: 0.8rem;
  padding: 0 3.2rem;
}

input:active,
input:focus {
  border: 0;
  outline-style: none;
  &::placeholder {
    color: white;
    opacity: 1;
  }
}

app-button {
  @include breaks(mobile) {
    margin-top: 1.6rem;
    width: 100%;
  }
  @include breaks(tablet) {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translate(0, -50%);
  }
  @include breaks(desktop) {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translate(0, -50%);
  }
}
