.bg-1 {
  background-color: hsl(var(--clr-1));
}

.bg-2 {
  background-color: hsl(var(--clr-2));
}

.bg-3 {
  background-color: hsl(var(--clr-3));
}

.bg-4 {
  background-color: hsl(var(--clr-4));
}

.bg-5 {
  background-color: hsl(var(--clr-5));
}

.bg-6 {
  background-color: hsl(var(--clr-6));
}

.text-clr-1 {
  color: hsl(var(--clr-1));
}

.text-clr-2 {
  color: hsl(var(--clr-2));
}

.text-clr-3 {
  color: hsl(var(--clr-3));
}

.text-clr-4 {
  color: hsl(var(--clr-4));
}

.text-clr-5 {
  color: hsl(var(--clr-5));
}

.text-clr-6 {
  color: hsl(var(--clr-5));
}
