/* stylelint-disable time-min-milliseconds */
/* stylelint-disable declaration-no-important */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

img,
picture {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
